.GlobalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5rem;
  padding: 3rem 0;
  background-color:#DFD5C7 ;
}
body {
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shamanImage {
border-radius: 50%;
  object-fit: contain;
  height: auto;

}

.shaman {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
  text-align: center;
  font-size: 2rem;
}

h3{
  font-family: shrikhand;
  padding: 32px;
  text-transform: uppercase;
}

.title-shaman{
  font-size: 2rem;
}