
#firstQ,
#secondQ,
#thirdQ {
    color: black;
   font-size: 1.5rem;
   padding: 32px;
   text-transform: uppercase;
   font-family: shrikhand;
 
}

.buttonValidate{
    display: flex;
    justify-content: center;
}
