.presentation {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    font-size: 1.5rem;

}

.contact{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    font-size: 1.5rem;
}

.globalContainer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 3rem 0;
}

img{
    height: 80vh;
}

h2{
    font-size: 3rem;
}

